.mt70 {
  margin-top: 70px !important;
}
@media only screen and (min-width: 1025px){
.btmBrn02 {
    background: url('../img/visual_06.jpg') no-repeat center 0;
    height: 600px;
    padding-top: 50px;
}
.btmBrn02 .bottomTxt {
    text-align: center;
    color: #fff;
}

.bottomTxt h3 {
  font-size: 36px;
  color: #fff;
  height: 56px;
}
.btmBrn02 .bottomTxt p {
  font-size: 16px;
}
.listRolling .card-image {
  position: relative;
  border-bottom: 1px solid #e1e1e1;
  cursor: pointer;
  min-width: 100%;
  min-height: 195px;
}
.listRolling .card-image:after {
  content: '';
  width: 100%;
  height: 199px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: url('../img/up_list_bul.png') no-repeat center bottom;
}
.listRolling .card-image img {
  width: auto;
  height: 198px;
}
.card .card-content .ellip2 {
    max-height: 56px !important;
    height: 56px !important;
    font-size: 18px;
    display: block !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666666;
    margin-bottom: 8px;
}
.card .card-content p {
  text-align: left;
  font-size: 14px;
  color: #666666;
}
.card .card-reveal {
  padding: 24px;
  position: absolute;
  width: 100%;
  overflow-y: hidden;
  left: 0;
  top: 100%;
  height: 100%;
  z-index: 3;
  display: none;
  background: rgba(220,44,52,0.7) url('../img/btn_view.png') no-repeat center 68px;
  text-indent: -9999px;
  cursor: pointer;
}
.card .card-reveal.center {
  background: rgba(220,44,52,0.7) url('../img/btn_view.png') no-repeat center center !important;
}
.listRolling .bx-wrapper .bx-next {
  right: -50px;
  position: absolute;
  background: rgba(0, 0, 0, 0) url('../img/bx-next2.png') no-repeat scroll center center;
  margin-top: 0px;
}
.listRolling .bx-wrapper .bx-prev {
  left: -50px;
  position: absolute;
  background: rgba(0, 0, 0, 0) url('../img/bx-prev2.png') no-repeat scroll center center;
  margin-top: 0px;
}
}
.listRolling, .cookingList {
  position: relative;
}

@media only screen and (min-width: 1200px){
.listRolling .bx-wrapper, .cookingList .bx-wrapper {
    width: 100%;
}}

ul:not(.browser-default) {
  padding-left: 0;
  list-style-type: none;
}

.card {
  position: relative;
  margin: 0.5rem 5px 1rem;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
  border: 1px solid #e1e1e1;
}

.card .card-image img {
  display: block;
  border-radius: 0px 0px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.card .card-content {
  padding: 10px;
}

.card .card-reveal a {
  background: url('../img/btn_view.png') no-repeat center 68px;
  display: block;
  height: 100%;
  width: 100%;
}