
/* https://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face{
  font-family:'pretendard';
  src:url('../font/Pretendard-Medium.woff') format('woff'),
  url('../font/Pretendard-Regular.woff') format('woff'),
  url('../font/Pretendard-SemiBold.woff') format('woff');
  font-style:normal;
  font-weight: 400,500,600,700;
}

@font-face {
  font-family: 'Gmarketsans';
  src: url('../font/GmarketSansTTFMedium.ttf') format('woff'),
  url('../font/GmarketSansTTFBold.ttf') format('woff'),
  url('../font/GmarketSansTTFLight.ttf') format('woff');
  font-style: normal;
  font-weight: normal,bold,lighter;
}
@media only screen and (min-width: 768px) {
    main {    padding: 250px 10%;  }
    main h1 {    font-size: 3.6rem;  }
    main p {    font-size: 2rem;  }
  }
  
  .cd-nav-trigger {
    position: absolute;
    z-index: 30;
    right: 0%;
    top: 20px;
    height: 54px;
    width: 54px;
    /*background-color: #243040;*/
    background-color: rgba(255,255,255,0.9);
    border-radius: 0%;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
    transition: .5s all;
  }
  /*.cd-nav-icon:first-child:before,.cd-nav-icon:first-child:after {width:22px !important;}*/
  .cd-nav-trigger .cd-nav-icon {
    /* icon created in CSS */
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 30px;
    height: 2px;
    background-color: #333;
  }
  
  header.small #toparea .cd-nav-trigger .cd-nav-icon { background-color: #333; } /* ìŠ¤í¬ë¡¤ ë‚´ë¦¬ë©´ ëª¨ë°”ì¼ ë©”ë‰´ì•„ì´ì½˜ ê²€ê²Œ */
  header.small #toparea .cd-nav-trigger { background-color: rgba(255,255,255,0); }
  
  .cd-nav-trigger .cd-nav-icon::before, .cd-nav-trigger .cd-nav-icon:after {
    /* upper and lower lines of the menu icon */
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.5s, width 0.5s, top 0.3s;
    -moz-transition: -moz-transform 0.5s, width 0.5s, top 0.3s;
    transition: transform 0.5s, width 0.5s, top 0.3s;
  }
  .cd-nav-trigger .cd-nav-icon::before {
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -o-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  .cd-nav-trigger .cd-nav-icon::after {
    -webkit-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    -o-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
  .no-touch .cd-nav-trigger:hover .cd-nav-icon::after {
    top: 2px;
  }
  .no-touch .cd-nav-trigger:hover .cd-nav-icon::before {
    top: -2px;
  }
  .cd-nav-trigger svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  .cd-nav-trigger circle {
    /* circle border animation */
    -webkit-transition: stroke-dashoffset 0.4s 0s;
    -moz-transition: stroke-dashoffset 0.4s 0s;
    transition: stroke-dashoffset 0.4s 0s;
  }
  .navigation-is-open .cd-nav-trigger {
    /* rotate trigger when navigation becomes visible */
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .navigation-is-open .cd-nav-trigger .cd-nav-icon::after,
  .navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
    /* animate arrow --> from hamburger to arrow */
    width: 50%;
    -webkit-transition: -webkit-transform 0.5s, width 0.5s;
    -moz-transition: -moz-transform 0.5s, width 0.5s;
    transition: transform 0.5s, width 0.5s;
  }
  .navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .navigation-is-open .cd-nav-trigger .cd-nav-icon::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::after, .no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::before {
    top: 0;
  }
  .navigation-is-open .cd-nav-trigger circle { display:none;
    stroke-dashoffset: 0;
    -webkit-transition: stroke-dashoffset 0.4s 0.3s;
    -moz-transition: stroke-dashoffset 0.4s 0.3s;
    transition: stroke-dashoffset 0.4s 0.3s;
  }
  @media only screen and (min-width: 1170px) {
    .cd-nav-trigger {
    }
  }
  
  .cd-nav {
    position: fixed;
    z-index: 25;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,255.95);
    visibility: hidden;
    -webkit-transition: visibility 0s 0.7s;
    -moz-transition: visibility 0s 0.7s;
    transition: visibility 0s 0.7s;
  }
  .cd-nav .cd-navigation-wrapper {
    /* all navigation content */
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 40px 5% 40px calc(5% + 80px);
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(20%); 
    -webkit-transition: -webkit-transform 0.7s;
    -moz-transition: -moz-transform 0.7s;
    transition: transform 0.7s; 
  }
  .cd-nav .cd-navigation-wrapper {opacity: 0; transition: all 0.7s; }
  .navigation-is-open .cd-nav .cd-navigation-wrapper {opacity: 1; transition: all 0.7s; }
  .navigation-is-open .cd-nav {
    visibility: visible;
    -webkit-transition: visibility 0s 0s;
    -moz-transition: visibility 0s 0s;
    transition: visibility 0s 0s;
  }
  .navigation-is-open .cd-nav .cd-navigation-wrapper {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
    -moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
    transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  }
  .cd-nav h2 {
    position: relative;
    margin-bottom: 1.7em;
    font-size: 1.3rem;
    font-weight: 800;
    /*color: rgba(255,255,255,0.3);*/
    text-transform: uppercase;
  }
  .cd-nav h2::after {
    /* bottom separation line */
    content: '';
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 1px; 
    width: 60px;
    background-color: currentColor;
  }
  .cd-nav .cd-primary-nav {
    margin-top: 60px;
  }
  .cd-nav .cd-primary-nav li {
    margin: 1.6em 0;
  }
  .cd-nav .cd-primary-nav a {
    font-size: 2.4rem;
    color: rgba(255, 255, 255, 0.9);
    display: inline-block;
  }
  .no-touch .cd-nav .cd-primary-nav a:hover {
    color: #ffffff;
  }
  .cd-nav .cd-contact-info {
    margin-top: 80px;
  }
  .cd-nav .cd-contact-info li {
    margin-bottom: .6em;
    line-height: 1.7em;
    /*color: rgba(255, 255, 255, 0.8);*/
  }
  .cd-nav .cd-contact-info span {
    display: block;
  }
  .cd-nav .cd-contact-info li, .cd-nav .cd-contact-info a, .cd-nav .cd-contact-info span {
    font-size: 1.6rem;
  }
  @media only screen and (min-width: 1170px) {
    .cd-nav .cd-navigation-wrapper {
      padding: 30px 20%;
    }
    .cd-nav .cd-navigation-wrapper::after {
      clear: both;
      content: "";
      display: table;
    }
    .cd-nav .cd-half-block {
      width: 60%;    float: left;
    }
    .cd-nav .cd-half-block2 {
      width: 40% !important;    float: left;
    }  
    .cd-nav .cd-primary-nav {
      margin-top: 0;   
    }
    .cd-nav h2 {
      font-size: 1.5rem;
      margin-bottom: 3.6em;
    }
    .cd-nav .cd-primary-nav li {
      margin: 2em 0;
    }
    .cd-nav .cd-primary-nav a {
      font-size: 2.4rem;
    }
    .cd-nav .cd-contact-info {
      margin-top: 120px;
      text-align: right;
    }
    .cd-nav .cd-contact-info li {
      margin-bottom: 2.2em;
    }
    .cd-nav .cd-contact-info li, .cd-nav .cd-contact-info a, .cd-nav .cd-contact-info span {
      font-size: 1.2rem;
    }
  }
  
  .no-js main {
    height: auto;
    overflow: visible;
  }
  
  .no-js .cd-nav {
    position: static;
    visibility: visible;
  }
  .no-js .cd-nav .cd-navigation-wrapper {
    height: auto;
    overflow: visible;
    padding: 100px 5%;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  
  .cd-half-block a:hover {color:#555 ;}
  .cd-half-block nav ul {color:rgba(0,0,0,0.8);}
  .cd-half-block nav ul li .depth1 {clear:both; padding-bottom:15px; }
  .cd-half-block nav ul li .depth2 { padding-bottom:65px; }
  .cd-half-block nav ul li .depth1 a {}
  .cd-half-block nav ul li a{font-size:30px;  }
  .cd-half-block nav ul li li { clear:none; float:left; padding-right:25px;}
  .cd-half-block nav ul li li:before {content:"";  margin-right:6px; }
  .cd-half-block nav ul li li a{font-size:17px;}
  .cd-half-block address {font-style: normal;}
  .cd-half-block li.sns a {padding-left:5px;}
  .cd-half-block li.sns a img{ width:45px; opacity: 0.9}
  .cd-half-block address .tel {font-size:25px !important; line-height:35px; /*color:#fff257;*/ }
  .m_only{display:none !important;} 
  
  /*---------------------------------------
    MOBILE RESPONSIVE              
  -----------------------------------------*/
  @media (max-width: 1023px) {
  .cd-nav h2 {  margin-bottom: 2.2em;}
  .cd-nav-trigger {  top: 8px; right:8px; background-color: rgba(255, 255, 255, .3); }
  .cd-nav-trigger .cd-nav-icon {background-color: #333;}
  .cd-nav .cd-navigation-wrapper {  padding: 20px 5% 40px 5%;}
  .cd-nav { }
  .cd-nav .cd-contact-info {   margin-top: 10px;  padding-top: 30px; border-top:1px dashed rgba(255,255,255,0.3);  }
  .cd-nav .cd-contact-info li, .cd-nav .cd-contact-info a, .cd-nav .cd-contact-info span {  font-size: 1rem;}
    
  .cd-half-block nav ul ul{overflow:hidden;}
  .cd-half-block nav ul li .depth1 { padding-bottom:5px; }
  .cd-half-block nav ul li .depth2 { padding-bottom:25px; }
  .cd-half-block nav ul li a{font-size:25px;  }
  .cd-half-block nav ul li li a{font-size:15px;}
  .cd-half-block nav ul li li {  padding-right:15px; line-height:25px;}
  .cd-half-block nav ul li li:last-child {  padding-right:0px;}
  .cd-half-block li.sns a {padding-left:0px; padding-right:5px;}
  .cd-half-block li.sns {padding-top:10px;}
  .m_only{display:block !important; }
  .m_only a {font-size:25px !important;}
  .pc_only {display:none !important;}
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 640px) {
  }
  @media (max-width: 480px) {
  }
  @media (max-width: 320px) {
  }
  
  